

.glow-on-hover {
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(61, 61, 61);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    background: linear-gradient(90deg, rgb(255, 255, 255rgb(255, 255, 255) 0, 0) 35%, rgb(255, 255, 255) 100%);
    }

    .fej {
        margin-top: -20px;
        width:unset;
        left:0;
        right: 0;
        top: 0;
        bottom: 0;
        position: unset;
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      background-size: 1800% 1800%;
      
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;}
      
      @-webkit-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-moz-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-o-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @keyframes rainbow { 
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      } 

.kozep {
    margin-top: 100px;
    
}

.cim {
    margin-top: 70px;
    color: white;
    font-family: 'Russo One', sans-serif;
    margin: auto;
    width: 50%;
    padding: 30px;
}

@media all and (min-width:800px){
    .pg{
      width:800px;
      margin:0 auto;
    }
  }

#notfind {
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(68, 67, 67);
}
#textbubble {
    margin-top: 20px;
    background: #efefef;
    font-size: 20px;
    line-height: 1.3;
    margin: auto;
    max-width:unset;
    padding: 15px;
    position:unset;
    text-align: center;
}

.gomb {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    margin: 5px;
    height: 60px;
    width: 90%;
}

.gomb:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  