/*button {
    color:rgb(255, 255, 255);
    text-decoration:none;
    background-color: rgb(131, 131, 131);
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    border-color: whitesmoke;
    border: none;
}

button:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(197, 192, 192);
} */




button {
    background-color: #828582; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  button:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(66, 65, 65);
}